<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<h2><a href="/" style="color:white;float:right;
    margin-right: 131px";> Back to Home</a></h2>

<body style="background-image: url(../static/images/login.jpg);
  background-size: 1350px, 157px, auto;">
        <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
              </div>
    <div id="login">
        <br><br><br>

        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form action="/plogin" method="POST">
                            {{ form.hidden_tag() }}
                            <h3 class="text-center text-white pt-5">Login form</h3>
                            <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                            </div>
                            <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                            </div>
                            
                            <div class="form-group">
                                   
                                    {{ form.submit(class="btn btn-outline-info") }}
                                    <small class="text-muted ml-2">
                                        <br>
                                        <a href="/resetrequest">Forgot Password?</a>
                                    </small>

                                    <small class="text-muted ml-2">
                                        <a href="/register" class="text-info" style="font-size: 16px;;float:right;">Register here</a>
                                    </small>


                                    
                            </div>
                     
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 26px;
    max-width: 600px;
    height: 410px;
    border: 1px solid #9c9c9c80;
    background-color: #494d56ba;
        color: white;
    font-size: 20px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.text-info {
    color: #ffffff!important;
}
a{
    color: #ffffff;
}
.btn-outline-info {
    font-size: 22px;
    color: #fdfdfd;
    width: 145px;
    background-color: #0d1465;
    background-image: none;
    border-color: #eeeeef;
}
</style>